@model WebApplication2.coursework.Customer
@{
    ViewBag.Title = "DeleteCustomer";
}

<div>
    <br />
    <dl class="dl-horizontal">
        <dt>Login</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerLogin)
        </dd>

        <dt>Password</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerPassword)
        </dd>

        <dt>Email</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>Role</dt>
        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

        <dt>Score</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerScore)
        </dd>

    </dl>

    <div>
        <form asp-controller="Profile" asp-action="AdminDelete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
    </div>
</div>