@model WebApplication2.coursework.Product
@{
    ViewBag.Title = "Delete Product";
}
<br/>
<h2>Product @Model.ProductName</h2>
<div>
    <dl>

        <dt>Price</dt>
        <dd>@Model.Price</dd>

        <dt>Genre</dt>
        <dd>@Model.Genre.GenreName</dd>

        <dt>Series</dt>
        <dd>@Model.Series.SeriesName</dd>

        <dt>Category</dt>
        <dd>@Model.Category.CategoryName</dd>

        <dt>Manufacturer</dt>
        <dd>@Model.Manufacturer.ManufacturerName</dd>

        <dt>Publisher</dt>
        <dd>@Model.Publisher.PublisherName</dd>

        <dt>Age Rating</dt>
        <dd>@Model.ProductAgeRating</dd>

        <dt>Evaluation</dt>
        <dd>@Model.ProductEvaluation</dd>

        <dt>Issue Date</dt>
        <dd>@Model.ProductIssueDate</dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
    </div>
</div>